footer {
    overflow: hidden;
    color: red;
    padding: 20px 10px;
    position:fixed;    
  }

.footer-center {
  position: relative;
  background-color: yellow;
}

.footer-center a{
  display: inline-block;
  color:black;
  position: relative;
}

footer a{
   position: center;
   display: block;
   margin: 0 auto; 
  }